<link rel="import" href="cart-data.html">
<link rel="import" href="item-cart.html" >
<link rel="import" href="progress-dialog.html" >
<dom-module id="cart-view">
    <template>
        <style>
            h1{
                color: black;
            }
            
            p{
                color: black;
            }
            h2{
                color: black;
            }
            .log{
                color: teal;
            }
            
            #bt-chekout-cart{
                @apply --layout-fixed-bottom;
                position: fixed;
                width: 100%;
                height: 64px;
                background-color: #9c27b0;
                color: white;
                font-weight: bold;
                z-index: 2
            }
        </style>
        
        <app-location
          route="[[route]]">
        </app-location>    

        <app-route
          route="{{route}}"
          pattern="/:key"
          data="{{routeData}}"
          tail="{{subroute}}"
          active="{{pageActive}}">
        </app-route>
        
        <firebase-auth            
            id="auth"
            user={{user}}>            
        </firebase-auth>
<!--
        <cart-data
            id="cartData"
            cart-key={{routeData.key}}
            data="{{data}}"
            has-itens={{hasItem}}
            is-ready={{isReady}}>
        </cart-data>
-->
        
        <firebase-query
           id="cartQuery"
           path="/userOwner/{{user.uid}}/cart"
           data="{{data}}"> 
        </firebase-query>
          
<!--
        <firebase-query
           id="cartItensQuery"
           path="{{pathItensCart}}"
           data="{{dataItens}}"> 
        </firebase-query>
-->
            
        <h1>Carrinho</h1>
        <div hidden$="[[data]]">
            <p>Your <iron-icon icon="shopping-cart"></iron-icon> is empty.</p>
        </div>
        
<!--
        <progress-dialog id="progressDialog" visible=[[!isReady]]>
            Carregando Carrinho...
        </progress-dialog>
-->

        <template is="dom-repeat" items="{{data}}" as="item-cart">
            <div>
<!--                <div class="item">                   -->
                <item-cart item={{item-cart}}                     
                    on-delete="_deleteItemCart"                                 
                    qtd-item="[[itemQtd]]"
                    on-quantity-changed="updateQuantity">
                </item-cart>
<!--                </div>-->
            </div>
        </template>                  
        <paper-button id="bt-chekout-cart"><a href="/checkout">Avançar</a></paper-button>
    </template>
    <script>
    class CartView extends Polymer.Element{
        static get is(){return 'cart-view'}
        
        static get properties(){
            return{
                route: {
                    type: Object                    
                },
                user:{
                    type: Object,
                    value: ""
                },
                data:{
                    type: Object                    
                },
                hasItens:{
                    type: Boolean,
                    value: false
                }                
            };
        }
        
        __stringfy(data){
            return JSON.stringify(data);
        }
        
        _deleteItemCart(e){            
            let key = e.detail.key;
            this.$.cartQuery.ref.child(key).remove();
        }
        
        _itemQtdChanged(value){
            this.$.cartQuery.ref.child(item.$key).update({qtd: value});
        }

        updateQuantity(e){
            let item = e.detail;            
            this.$.cartQuery.ref.child(item.key).update({qtd: item.quantity});
        }
    }
    window.customElements.define(CartView.is, CartView);
    </script>
</dom-module>