<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="item-product.html">
<link rel="import" href="product-data.html">
<dom-module id="category-view">
    <template>
        <style include="flaty-bootstrap">
            :host{
                z-index: -30;
            }

            h1{
                color: black;
            }

            #btn-ordenar{
                float: right;
            }
        </style>
        
        <app-route
            id="appRoute"
            route="[[route]]"
            pattern="/:id/:category"
            data="{{routeData}}">
        </app-route>
                        
        <firebase-query
            id="query"
            path="/categories/{{routeData.id}}/products"
            order-by-child="name"
            start-at="{{inputSearch}}"
            data="{{productsList}}">
        </firebase-query>
                 
        <div class="row">
            <paper-input class=" offset-1 col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10" id="inputSearch" label="Buscar" type="search" on-input="_search" value="{{inputSearch}}">
                <iron-icon icon="search" slot="suffix"></iron-icon>
            </paper-input>            
        </div>
        
        <iron-list items="[[productsList]]" as="product">
            <template>                
                <a href="/detail/{{routeData.id}}/{{routeData.category}}/[[product.$key]]/[[product.name]]">
                    <item-product item="{{product}}"></item-product>
                </a>
            </template>                  
        </iron-list>                        
    </template>

    <script>
        class CategoryView extends Polymer.Element{
            static get is(){ return 'category-view'}
                                
            static get properties(){
                return{
                    productsList: Array,
                    
                    category: Object,                    

                    route:{
                        type: Object,
//                        observer: '_routeChanged'
                    },
                    
                    key: String,                   
                };
            }
            
            ready(){
                super.ready();
                this.addEventListener('show-modal-order', (e)=> console.log("show modal"));
            }
            
//            _routeChanged(){                
//                let categoryKey = this.$.appRoute.data.id;
//                this.$.productData._getProductsByCategory(categoryKey);
//            }
            
            _search(e){
   
            }    
        }
        window.customElements.define(CategoryView.is, CategoryView);
    </script>
    </dom-module>