<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="item-address.html">
<link rel="import" href="item-form-payment.html">
<link rel="import" href="item-order-resume.html">

<dom-module id="checkout-view">
  <template>
      <style>
           #bt-finish-order{
            @apply --layout-fixed-bottom;
            position: fixed;
            width: 100%;
            height: 64px;
            background-color: #9c27b0;
            color: white;
            font-weight: bold;
            }
      </style>  
      
      <firebase-auth
          id="auth"
          user="{{user}}">          
      </firebase-auth>
      
      <firebase-query
          id="addressQuery"
          path="/address"
          order-by-child="idUser"
          equal-to="{{user.uid}}"
          data="{{addressData}}">          
      </firebase-query>
         
     <firebase-query
          id="itensCartQuery"
          path="/userOwner/{{user.uid}}/cart"
          data="{{cartData}}">
      </firebase-query>
      
      <item-address title="{{user.displayName}}">          
            <template is="dom-repeat" items="{{addressData}}" as="item">                       
                <div hidden$={{!item.main}}>
                    {{item.street}}, {{item.number}} - {{item.district}} <br>
                    {{item.city}} - {{item.state}} <br>
                    {{item.landmark}} <br>
                </div>
            </template>            
      </item-address>
      <item-form-payment></item-form-payment>
      <item-order-resume item="[[cartData]]"></item-order-resume>
      <paper-button id="bt-finish-order" style="display: none;"><a href="/checkout">Finalizar Pedido</a></paper-button> 
  </template>
  <script>
    class CheckoutView extends Polymer.Element {
        static get is() { return 'checkout-view'; }
        static get properties() { return {
                addressData: {
                    type: String
                },
            
                user:{
                    type: Object,
                    value:""
                },
            }
        }
    }    
    customElements.define(CheckoutView.is, CheckoutView);
  </script>

</dom-module>