<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="item-category.html">
<link rel="import" href="category-data.html">
<link rel="import" href="progress-dialog.html">
<dom-module id="home-view">
    <template>
        <style include="flaty-bootstrap">
            :host{  
                margin-top: 50px;
            }

            h1{
                color: black;
            }
            
            iron-list{
                z-index: 0;
            }
            
           .item {
                @apply --layout-horizontal;
                padding: 10px;
                border-radius: 8px;
                background-color: white;
                border: 1px solid #9c27b0;
                max-width: 800px;
                margin: 16px auto 0 auto;
                cursor: pointer;
            }
            
            .header-banner{                    
                width: 100%;
                height: 200px;
                margin-bottom: 30px;
                background-color: purple;
/*                padding-top: 100px;*/
                background-image: url(../../data/images/food-background.jpg);
                opacity: 0.7;
                filter: alpha(opacity=50);  /* For IE8 and earlier */
                background-size: cover;
            }
            
            #image-banner{        
                max-height: 200px;
                max-width: 100%;
            }
            
            .search-field{                
                width: 100%;
                z-index: 2;                 
/*
                align-items: center;
                justify-content: center;
                -webkit-align-items: center;
                -webkit-justify-content: center;
*/
            }  
            
            .text-welcome{
                position: absolute;
                width: 100%;                
                top: 160px;
                z-index: 1;                
                font-size: 18pt;
                color: white;
            }
            
            .search-field paper-input{                          
                border-radius: 10px;
                background-color: white;
            }
            
            a{
                color: yellow;
                background-color: white;
            }
            
    /*        Small devices (landscape phones, 576px and up)*/
            @media (min-width: 576px) {
                a{
                    color: red;
                    
                }
                #image-banner{        
                    max-height: 300px;
                }
            }

    /*        Medium devices (tablets, 768px and up)*/
            @media (min-width: 768px) {    
                a{
                    color: black;
                }
                #image-banner{        
                    max-height: 500px;
                }
            }

    /*        Large devices (desktops, 992px and up)*/
            @media (min-width: 992px) {
                a{
                    color: blue;
                }
            }

    /*        Extra large devices (large desktops, 1200px and up)*/
            @media (min-width: 1200px) {
                a{
                    color: green;
                }
            }
        </style>
        
        <category-data
            id="categories-data"
            data="{{categories}}"
            is-ready="{{isReady}}">
        </category-data>

        <firebase-auth
            id="auth"
            user={{user}}>                
        </firebase-auth>
       <div>
            <p class="text-center align-middle text-welcome">Boa Noite, {{user.displayName}}</p>
            <div class="header-banner">                
<!--                <iron-image id="image-banner" src="../../data/images/none.jpg"></iron-image>-->
<!--                <iron-image id="image-banner" src="http://lorempixel.com/500/300"></iron-image>-->
                <div class="search-field" style="display: none">
                    <paper-input class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-4" id="inputSearch" label="Buscar" type="search" on-input="_search" value="{{inputSearch}}">
                        <iron-icon icon="search" slot="suffix"></iron-icon>
                    </paper-input>
                </div>                
            </div>
            
<!--            <iron-list items="{{categories}}" as="cat"> -->
            <div class="row mx-auto">
                <template is="dom-repeat" items="{{categories}}" as="cat">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                        <a on-tap="_setKey" category="[[cat]]" href="/list/[[cat.$key]]/[[cat.name]]">
                            <item-category item={{cat}}></item-category>
                        </a>
                    </div>
                </template>
            </div>
<!--            </iron-list>-->
        </div>
        <progress-dialog id="progressDialog" visible={{!isReady}}>
            Só Um Minuto, Estamos Carregando as Categorias Para Você...
        </progress-dialog>
    </template>
    <script>
        class HomeView extends Polymer.Element{
            static get is(){ return 'home-view'}

            static get properties(){
                return{                   
                    itemKey:{
                        type: String,
                        notify: true
                    }
                };
            }
            
            _setKey(e){
                let key = e.currentTarget.category.$key;
                this.itemKey = key;
            }
        }
        window.customElements.define(HomeView.is, HomeView);
    </script>
</dom-module>