<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="item-order-resume">
  <template>
      <style include="flaty-bootstrap">
          :host{
              margin-bottom: 40px;
          }
          .card{
/*              max-width: 20rem;*/
              background: #9c27b0;
            }
      </style>        
        <div class="card text-white mb-3">
            <div class="card-header">Resumo do Pedido</div>
            <div class="card-body">
               <template is="dom-repeat" items="{{item}}" as="itemCart">
                    <h4 class="card-title">{{itemCart.name}}</h4>
                    <p class="card-text">Quantidade: {{itemCart.qtd}}x
                        <br> Preco: R${{itemCart.price}}
                    </p>
                </template>
            </div>
        </div>        
  </template>
  <script>
    class ItemOrderResume extends Polymer.Element {
        static get is() { return 'item-order-resume'; }
        static get properties() { return {
                user:{
                    type: Object,
                    value: ""
                },
                item:{
                    type: Array,
                    value: "",
                    observer:'_itemChangeObserver'
                }
            }
        }
        
        _cartDataChanged(value){            
            if(value != null && value.length > 0){                
                for(var i = 0 ; i < value.length ; i++){
                    console.log("Item Order Resume = " + value[i].$key);
                    this.pathItensCart = '/carts/' + value[i].$key + '/itensCart';                    
                }    
            }                    
        }
        
        _itemChangeObserver(value){            
        }
    }    
    customElements.define(ItemOrderResume.is, ItemOrderResume);
  </script>

</dom-module>