<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="item-product">

  <template>
    <style include="flaty-bootstrap">
        
        :host{
            text-decoration: none;
        }
     .item {
            position: relative;
            @apply --layout-horizontal;
            padding: 10px;
            border-radius: 8px;
            background-color: white;
            border: 1px solid #9c27b0;
            max-width: 800px;
            margin: 16px auto 0 auto;
            cursor: pointer;
            z-index: 1;
        }
        .item img{
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }
        
        .name{
            color: black;
            font-size: 16pt;
            font-weight: bold;
        }
        
        .description{
            position: absolute;
            top: 50px;
            left: 100px;
            color: black;
            max-width: 300px;
            
        }
        
        .price{
            position: absolute;
            bottom: 16px;
            right: 16px;
            color: teal;
            font-size: 12pt;
            font-weight: bold;
        }
        
        .icon-cart{
            position: absolute;
            top: 0px;
            right: 10px;
            color: black;
            z-index: 10;
        }
    </style>

     <div class="item">
          <img src="../../data/images/none.jpg" alt="Card image">
          <div class="name row">
              <div class="col-12">
                  [[item.name]]
              </div>
          </div>
          <div class="description row">
              <div class="col-10 text-truncate">
                  [[item.description]]
              </div>
          </div>
          <div class="price row">
              <div class="col-12">
                  R$[[item.price]]
              </div>
          </div>
          <div class="icon-cart">
              <paper-icon-button icon="add-shopping-cart" on-tap="_addCart"></paper-icon-button>
          </div>
     </div>
  </template>

  <script>
    class ItemProduct extends Polymer.Element {
        static get is() { return 'item-product'; }
        static get properties() { return {
                item:{
                    type: Object,
                    notify:true
                }
            }
        }                
    }
    customElements.define(ItemProduct.is, ItemProduct);
  </script>

</dom-module>