<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="item-category">

  <template>
    <style include="flaty-bootstrap">
        
        a{            
            background-color: #fff;
        }
        .card{
            margin-bottom: 50px;        
        }
        
        .card-img{
            background-color: #000;
            opacity: 0.7;
            filter: alpha(opacity=50);  /* For IE8 and earlier */
        }
    </style>
        <div class="card text-black">
            <img class="card-img" src="../../data/images/food-background.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title text-center">[[item.name]]</h5>                
            </div>
        </div>
  </template>

  <script>
    class ItemCategory extends Polymer.Element {
        static get is() { return 'item-category'; }
        static get properties() { return {
                item:{
                    type: Object,
                    notify:true
                }
            }
        }                       
    }
    customElements.define(ItemCategory.is, ItemCategory);
  </script>

</dom-module>