<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="modal-element.html">
<dom-module id="item-address">
  <template>
      <style include="flaty-bootstrap">
          
          .card{
/*              max-width: 20rem;*/
              background: #9c27b0;
          }
          
          .card-header paper-icon-button{
              float: right;              
          }
          
          .card-header input{
              float: right;
          }
      </style>        
        
        <firebase-auth
            id="auth"
            user="{{user}}">                
        </firebase-auth>
        
        <firebase-query
            id="addressQuery"
            path="/address"
            order-by-child="idUser"
            equal-to="{{user.uid}}"
            data={{addressData}}>
        </firebase-query>
        
        <div class="card text-white mb-3">
            <div class="card-header">Endereço de Entrega <paper-icon-button icon="more-vert" on-tap="_showModalAddress"></paper-icon-button></div>
            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <p class="card-text"><slot></slot></p>                
            </div>
        </div>
        
        
        <modal-element id="modalAddress">
            <template is="dom-repeat" items="{{addressData}}" as="address">
            <h3>Endereço de Entrega</h3>
            <div class="card text-white mb-3">
                <div class="card-header">Endereço de Entrega</div>
                <div class="card-body">
                    <h4 class="card-title">{{user.displayName}}</h4>
                    <p class="card-text">{{address.street}}, {{address.number}} - {{address.district}} <br>
                                            {{address.city}} - {{address.state}} <br>
                                            {{address.landmark}} <br></p>
                </div>
            </div>
            </template>
        </modal-element>
        
  </template>
  <script>
    class ItemAddress extends Polymer.Element {
        static get is() { return 'item-address'; }
        static get properties() { return {
                title:{
                    type: Object,
                    observer:'_observerTest'
                },
                user:{
                    type: Object,
                    value: ""
                }
            }
        }
        
        _observerTest(){            
        }
        _showModalAddress(){
            this.$.modalAddress.ativa();
        }
    }    
    customElements.define(ItemAddress.is, ItemAddress);
  </script>

</dom-module>