<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="cart-data.html">


<dom-module id="login-view">
    <template>
        <style>
            :host{
                position: absolute;
                top: 64px;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--paper-purple-500);
                transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                z-index: 1;
                color: var(--paper-purple-50);
                
                @apply --layout;
                @apply --layout-center-center;
            }
            
            :host([signed-in]){
                opacity: 0;
                pointer-events: none;
            }
            
            paper-button > *{
                vertical-align: middle;
                text-transform: none;
            }
            
            table {
                margin: 24px 0;
                border: 1px solid #ccc;
                border-collapse: collapse;
            }
            th, td {
                padding: 8px;
                border-bottom: 1px solid #ccc;
            }
            th {
                text-align: right;
            }
        </style>
        
        <firebase-auth 
            id="auth" 
            user="{{user}}"
            provider="google" 
            signed-in="{{signedIn}}"
            on-error="_showError">
        </firebase-auth>
        
        <firebase-query
           id="cartKeyQuery"           
           path="/carts"
           order-by-child="idUser"
           equal-to="{{user.uid}}"
           data="{{cartData}}"> 
        </firebase-query>
        
        <div>           
            <form on-submit="_signInWithEmailAndPassword" hidden$="[[signedIn]]">
                <input value="{{email::input}}" type="email" placeholder="Email">
                <input value="{{password::input}}" type="password" placeholder="Password">
                <button type="submit" on-tap="_signInWithEmailAndPassword">Sign In</button>
                <button type="button" on-tap="_createUserWithEmailAndPassword">Sign Up</button>
            </form>
            <paper-button on-tap="_signInWithGoogle" hidden$="[[signedIn]]">
                <iron-icon icon="account-circle"></iron-icon>
                <span>Sign in with Google</span>
            </paper-button>

            <paper-button on-tap="_signOut" hidden$="[[!signedIn]]">
                <iron-icon icon="account-circle"></iron-icon>
                <span>Log Out</span>
            </paper-button>                        
        </div>
    </template>
    <script>
        
    class LoginView extends Polymer.Element {
        static get is() { return 'login-view'; }
        
        static get properties(){
            return{
                disabled:{
                    type: Boolean,
                    reflectToAttribute: true,
                    value: false    
                },                
                user:{
                    type: Object,
                    notify: true,
                    value: "",
                    observer: '_userObserver'
                },
                
                cartData:{
                    type: Object,
                    observer: '_cartDataChanged'
                }
            };
        }
        
        static get observers(){
            return [
//                '_userNameChanged(user)'
            ];
        }
        
        _cartDataChanged(value){            
            if(value != null && value.length > 0){
                let keyCart = value[0].$key;
                localStorage.setItem("cartKey", keyCart);
            }
        }
        
        _signInWithGoogle(){
            this.$.auth.signInWithPopup();
        }
        
        _userObserver(user){
            this.user = user;            
            if(user){                
                localStorage.setItem("username", this.user.displayName);
            }
        }
        
         _signInWithEmailAndPassword(e){
          if (e) { e.preventDefault(); }
          this.error = null;
          this.$.auth.signInWithEmailAndPassword(this.email, this.password);
          this.email = null;
          this.password = null;            
        };

        _createUserWithEmailAndPassword() {
          this.error = null;
          this.$.auth.createUserWithEmailAndPassword(this.email, this.password);
          this.email = null;
          this.password = null;
//          let ref = this.$.cartKeyQuery.ref;
//            ref.push({
//                idUser: this.user.uid
//            });
        };

        
        _signOut(){
            this.$.auth.signOut();
            localStorage.removeItem("username");
            localStorage.removeItem("cartKey");
        }
        
        _showError(e){
            console.log("Auth Error = " + e.detail);
        }                
    }    
    window.customElements.define(LoginView.is, LoginView);
    </script>
</dom-module>