<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/effects/waterfall.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymerfire/firebase.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">
<link rel="import" href="modal-dialog.html">
<link rel="import" href="../style/flaty-bootstrap.html">
<link rel="import" href="category-data.html">


<link rel="import" href="category-view.html">
<link rel="import" href="home-view.html">
<link rel="import" href="product-detail.html">
<link rel="import" href="login-view.html">
<link rel="import" href="cart-view.html">
<link rel="import" href="checkout-view.html">
<link rel="import" href="profile-view.html">
<link rel="import" href="view-404.html">

<dom-module id="mercado-em-casa-app">
  <template>
    <style include="flaty-bootstrap">
       
        :host {
          display: block;    
        }
      
        paper-toolbar{
            width: 100%;                  
            --paper-toolbar-background: #9c27b0;            
        }      

        iron-icon {
            margin-right: 0.5em;
            background: white;
        } 

        app-header {
          @apply --layout-fixed-top;
          
          background-color: #9c27b0;
          color: white;          
        }

        app-header-layout{
            z-index: 100;
/*            background-color: black;*/
        }
        app-header paper-icon-button {
          --paper-icon-button-ink-color: white;
        }

        [main-title] {
          font-weight: 400;
          margin: 0 0 0 50px;
        }

        [condensed-title] {
          font-size: 18px;
          font-weight: 400;
          margin-left: 30px;
        }

        [condensed-title] i {
          font-style: normal;
          font-weight: 100;
        }

        app-toolbar.tall {
          height: 148px;
        }      

        a{
          color: white;
        }
        
        iron-pages{                
            color: black;
        }
        
        paper-item{
            color: black;
            padding: 5px;
        }
        
        #drawer{
            z-index: 200;
        }
        
        .drawer-header{
            height: 120px;
            background-color: #9c27b0;
            color: white;
        }
        
        .drawer-content ul{
            list-style: none;
            display: block;
/*
            justify-content: flex-start;
            align-items: flex-start;
            -webkit-align-items: flex-start;
            -webkit-justify-content: flex-start;
*/
        }
        .drawer-content ul a{
            color: black;
        }
        
        .drawer-content ul a:hover{
            text-decoration: none;
            
        }
        
        .profile{
            height: 70px;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-align-items: center;            
            -webkit-justify-content: center;
            background-color: lightgray;
        }
        
/*        Small devices (landscape phones, 576px and up)*/
        @media (min-width: 576px) {
            
        }

/*        Medium devices (tablets, 768px and up)*/
        @media (min-width: 768px) {    
            
        }

/*        Large devices (desktops, 992px and up)*/
        @media (min-width: 992px) {
            
        }

/*        Extra large devices (large desktops, 1200px and up)*/
        @media (min-width: 1200px) {
            
        }
    </style>   

    <app-location
      route="{{route}}">
    </app-location>    

    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"
      tail="{{subroute}}"
      active="{{pageActive}}">
    </app-route>
    
    <firebase-auth
        id="auth"
        user={{user}}
        signed-in="{{signedIn}}">
    </firebase-auth>
    
    <firebase-app
            auth-domain="mercado-em-casa-v1.firebaseapp.com"
            database-url="https://mercado-em-casa-v1.firebaseio.com"
            api-key="AIzaSyBSbjYUrW7XDbpouusVifmw1di5JyKcSVE"> 
    </firebase-app>
    
    <cart-data id="cartData"></cart-data>
    
        <app-drawer id="drawer" swipe-open>

            <div class="drawer-header">
                <span>Mercado Em Casa</span>
                <iron-image class="rounded-circle border profile" src="{{user.photoURL}}" sizing="cover" preload></iron-image>
            </div>
            <div class="drawer-content">
               
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/profile">Perfil</a></li>
                    <li><a href="/adress">Endereços</a></li>
                    <li><a href="/settings">Configuraçoes</a></li>
                    <li hidden$="[[!signedIn]]"><a href="/login">Sair</a></li>
                    <li hidden$="[[signedIn]]"><a href="/login">Entrar</a></li>
                </ul>
            </div>
        </app-drawer>       
        <app-header-layout>
            <app-header slot="header" fixed>
              <app-toolbar>
                <paper-icon-button icon="menu" on-tap="_drawerToggle"></paper-icon-button>
                <div main-title>
                  Mercado em Casa
                </div>
                <template is="dom-if" if="{{_isListPage(routeData.page)}}">                   
                    <a href=""><paper-icon-button icon="filter-list" on-tap="_showModalOrder"></paper-icon-button></a>
                </template>
                <a href="/cart" hidden$="[[!signedIn]]"><paper-icon-button icon="shopping-cart"></paper-icon-button></a> 
              </app-toolbar>          
            </app-header>               
        </app-header-layout>
                
        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view-404"
            role="main">   

          <home-view name="home" item-key={{itemKey}}></home-view>
          <category-view name="list" route="[[subroute]]" key="{{itemKey}}"></category-view>
          <product-detail name="detail" route="[[subroute]]"></product-detail>
          <cart-view name="cart" route="[[subroute]]"></cart-view>
          <checkout-view name="checkout" route="[[subroute]]"></checkout-view>
          <profile-view name="profile"></profile-view>
          <login-view name="login"></login-view>
          <view-404 name="view-404"></view-404>
        </iron-pages>
  </template>

  <script>
    
    class MercadoEmCasaApp extends Polymer.Element {
      static get is() { return 'mercado-em-casa-app'; }
        
      static get properties() {
        return {
          categoriesList: {
            type: Object,
            notify: true            
          },

          page:{
            type: String,
            reflectToAttribute: true,
            notify: true,
            observer: '_pageChanged'
          },
          
          cartKey:{
            type: String,
            value: "",
            observer: '_setCartKey'   
          },
          user:{
              type: Object,
              value: null
          }    
        };
      }
                  
      static get observers(){
        return [
          '_routePageChanged(routeData.page)'          
        ];
      }
            
        ready(){
            super.ready();
            this.addEventListener('add-cart-item', (e)=> this.$.cartData._addCartItem(e.detail));
        }
        
      _setCartKey(){
          this.cartKey = localStorage.getItem("cartKey");
      }   
        
      _routePageChanged(page) {
        this.page = page || 'home';                
      }
      
      _pageChanged(){        
      }
        
      _showPage404(){
        this.page = 'view-404';
      }
  
      _drawerToggle(){
        this.$.drawer.toggle();
      }
        
      _isListPage(page){
          if(page == 'list'){
              return true;
          }
          
          return false;
      }
                  
      _showModalOrder(){          
          this.dispatchEvent(
              new CustomEvent('show-modal-order', {
                    bubbles: true, composed: true, detail:{}
                }
              )
          );
      }
    }    
    window.customElements.define(MercadoEmCasaApp.is, MercadoEmCasaApp);
  </script>
</dom-module>
