<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="progress-dialog.html">
<link rel="import" href="product-data.html">

<dom-module id="product-detail">
    <template>
        <style include="flaty-bootstrap"> 
            :host{
                display: block;
                color: black;
            }
            .container{
                color: black;                
            }
            .price{
                color: #18BC9C;
                font-weight: bold;
                font-size: 20pt;                
            }
            iron-image{
                width: 100%;
                height: 400px;
                background-color: lightgray;
            }
            
            .content-item{
                margin-bottom: 70px;
            }
            
            #bt-add-product-to-cart{
                @apply --layout-fixed-bottom;
                position: fixed;
                width: 100%;
                height: 64px;
                background-color: #9c27b0;
                color: white;
                font-weight: bold;                
            }
            
            .qtd-field{
                width: 100%;
                margin-top: 20px;
                margin-bottom: 30px;
                text-align: right;
            }
            
            .value-qtd{
                font-size: 20pt;
                margin-right: 10px;
                margin-left: 10px;
            }
            
            .product-description{
                text-align: justify;
            }
    /*        Small devices (landscape phones, 576px and up)*/
            @media (min-width: 576px) {
                iron-image{
                    height: 400px;
                }
                
                #bt-add-product-to-cart{
                    @apply --layout-fixed-bottom;
                    position: fixed;
                    width: 100%;
                    height: 64px;
                    background-color: #9c27b0;
                    color: white;
                    font-weight: bold;                
                }
            }

    /*        Medium devices (tablets, 768px and up)*/
            @media (min-width: 768px) {
                iron-image{
                    height: 300px;
                }
                
                #bt-add-product-to-cart{                    
                    position: relative;                    
                    height: 50px;                                    
                }
            }

    /*        Large devices (desktops, 992px and up)*/
            @media (min-width: 992px) {
                iron-image{
                    height: 500px;
                }
                
                #bt-add-product-to-cart{                    
                    position: absolute;                    
                    height: 50px;                                  
                }
            }

    /*        Extra large devices (large desktops, 1200px and up)*/
            @media (min-width: 1200px) {
                iron-image{
                    height: 600px;
                }
                
                #bt-add-product-to-cart{                    
                    position: relative;                    
                    height: 50px;                                    
                }
            }
        </style>        
        
        <app-route
            id="route"
            route=[[route]]
            pattern="/:idCategory/:category/:idItem/:item"
            data="{{routeData}}">
        </app-route>
        
        <firebase-auth 
            id="auth" 
            user="{{user}}">
        </firebase-auth>
         
        <product-data
            id="productData"
            category-id="{{routeData.idCategory}}"
            product-id="{{routeData.idItem}}"
            data="{{product}}"
            is-ready="{{isReady}}">
        </product-data>
    
        <firebase-query
            id="addItemCart"
            path="/userOwner/{{user.uid}}/cart"
            data="{{cartsUserList}}">
        </firebase-query>
           
        <firebase-query
            id="addItemCart"
            path="/productOwner/{{routeData.idItem}}/prices"
            data="{{supermarketData}}">
        </firebase-query>
                        
        <progress-dialog id="progressDialog" visible="{{!isReady}}">
                            Carregando Produto...
        </progress-dialog>
        
        <div class="container">           
            <div class="row content-item">
                <iron-image class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-7" 
                   src="../../data/images/none.jpg" 
                   sizing="cover" preload fade>                    
                </iron-image>            
                <div class="detail col-xs-12 col-sm-12 col-md-6 col-lg-4 offset-lg-1">
                    <div class="row">
                        <h3 class="col-9">{{product.name}}</h3>
                        <span class="price col-2">R${{product.price}}</span>   
                        <template is="dom-repeat" items="{{supermarketData}}" as="supermarket">
                            <span class="price col-2">R${{supermarket.price}}</span>
                            <span class="col-2">{{supermarket.name}}</span>
                        </template>                     
                    </div>
    <!--                        <paper-input id="qtd" label="Quantidade" type="number"></paper-input>-->
                    <div class="qtd-field">
                        <paper-button class="btn-danger" on-tap="_removeQuantity"><iron-icon icon="remove"></iron-icon></paper-button>
                        <span class="value-qtd">{{qtdProduct}}</span>                            
                        <paper-button class="btn-success" on-tap="_setQuantity"><iron-icon icon="add"></iron-icon></paper-button>
                    </div>
                    <div class="row">
                        <h4 class="col-12">Descriçao</h4>
                        <p class="product-description col-12">{{product.description}}</p>    
                    </div>

                    <paper-button id="bt-add-product-to-cart" on-tap="_addCart">Adicionar ao Carrinho</paper-button>
                </div>
            </div>            
        </div>
    </template>
    <script>
        class ProductDetail extends Polymer.Element{
            static get is(){ return 'product-detail'}

            static get properties(){
                return{
                    item: {
                        type:Object,
                        readOnly: true                        
                    },                    
                    route: Object,                    
                    cartData:{
                        type: String,
                        value: "",                        
                    },
                    user:{
                        type: Object,
                        value: ""
                    },
                    qtdProduct:{
                        type: Object,
                        value: 0
                    }
                }
            }
            
            static get observers(){
                return [
//                    '_routePageChanged(routeData.item)'
                ] ;
            }

            _routePageChanged(item){
                this.itemPathName = item;                
            }
                                    
            _addCart(e){                                
                let produto = new Object();
                let cartRef = this.$.addItemCart.ref;
                produto["id"] = this.$.route.data.idItem;
                produto["name"] = this.$.productData.data.name;
                produto["qtd"] = this.qtdProduct;
                produto["price"] = this.$.productData.data.price;
                cartRef.push(produto);
                this.qtdProduct = 0;
            }
            
            _setQuantity(){
                this.qtdProduct++;
            }
            
            _removeQuantity(){
                if(this.qtdProduct > 0){
                    this.qtdProduct--;    
                }
                
            }
        }
        window.customElements.define(ProductDetail.is, ProductDetail);
    </script>
</dom-module>